<!DOCTYPE html>

<html>

<head>
    <title>WeatherForecast by Nitish</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <div  style="background-image: url("/img/weather2.png")" class="main_content">
        {{>header}}
 
        <h3>Please Enter Below Your Location Name...</h3>
        <p>Example:unnao,india</p>
        <form>
    <input placeholder="location">
    <button>Search</button>
</form>
<div><p id="msg1"></p></div>
 <img class="portrait" src="/img/me.png">



<p id="msg2"></p>

    </div>

    {{>footer}}
     <script src="/js/app.js"></script>
</body>

</html>